.rte-container {
  padding: 0;
  margin: 0;
}

.rte-control-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}

.white-theme .rte-control-group {
  background-color: #f9f9f9;
}

.dark-theme .rte-control-group {
  background-color: #f0f0f0;
  color: #fff;
}

.rte-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2rem;
}

.rte-button-group button {
  padding: 0.5rem;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.rte-button-group button:hover {
  background-color: #d0d0d0;
}

.rte-button-group button.is-active {
  background-color: #6200ee;
  color: white;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
}

.tiptap {
  border: 1px solid #ccc;
  min-height: 400px;
  min-width: 85vh;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.dark-theme .tiptap p {
  color: #fff;
}

.white-theme .tiptap p {
  color: #000;
}

.tiptap table {
  width: 100%;
}

.tiptap th,
.tiptap td {
  border: 1px solid #ccc;
  padding: 0 0.5rem;
}

.tiptap th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tiptap tr:nth-child(even) {
  background-color: #f9f9f9;
}
